/* Page */
.page__item {
  padding: .8rem 1rem;
  width: 150px;
  height: 66px;

  box-shadow: 4px 4px 9px rgba(198, 198, 198, .36);
  border-radius: 20px;
  background: #bbfad5;
  color: #000;

  text-align: center;
  cursor: grab;
}

.page__item:active {
  cursor: grabbing;
}