/* Page */
.page__item {
  margin: auto;
  /*padding: 10px;*/
  width: 150px;
  height: 66px;

  box-shadow: 4px 4px 9px rgba(198, 198, 198, .36);
  border-radius: 20px;
  background: #bbfad5;
  cursor: grab;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page__item:active {
  cursor: grabbing;
}